<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <!--script src="contactform/contactform.js"></script-->
    <!-- =======================================================
      Theme Name: Knight
      Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
      ======================================================= -->
  </head>
  <body>
    <header class="header" id="header">
      <!--header-start-->
      <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
          <a href="#"><img src="img/logo.png" alt=""></a>
        </figure>
        <!--h1 class="animated fadeInDown delay-07s">{{ .Site.Title }}</h1-->
        <ul class="we-create animated fadeInUp delay-1s">
          <li>Excelência no desenvolvimento de softwares e otimização de processos</li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service">Saiba Mais</a>
      </div>
    </header>
    <!--header-end-->
    <nav class="main-nav-outer" id="test">
      <!--main-nav-start-->
      <div class="container">
        <ul class="main-nav">
          <li><a href="#header">Home</a></li>
          <li><a href="#service">Serviços</a></li>
          <li class="small-logo"><a href="#header"><img src="img/small-logo.png" alt=""></a></li>
          <!--li><a href="#client">Clientes</a></li-->
          <li><a href="#contact">Contato</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
      </div>
    </nav>
    <!--main-nav-end-->
    <section class="main-section" id="service">
      <!--main-section-start-->
      <div class="container">
        <h2>Serviços</h2>
        <h6>We offer exceptional service with complimentary hugs.</h6>
        <div class="row">
          <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fas fa-tasks"></i>
              </div>
              <div class="service-list-col2">
                <h3>Desenvolvimento de sistemas</h3>
                <p>Softwares sob medida para seu negócio, com objetivo de automatizar processos manuais</p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fas fa-cogs"></i>
              </div>
              <div class="service-list-col2">
                <h3>Integração sob demanda</h3>
                <p>Integre os sistemas que você já utiliza para facilitar a rotina do seu negócio.</p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fas fa-chart-bar"></i>
              </div>
              <div class="service-list-col2">
                <h3>Consultoria</h3>
                <p>Ajudamos você a expandir seus negócios e transformar sua ideia em um produto.</p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fa-medkit"></i>
              </div>
              <div class="service-list-col2">
                <h3>Suporte</h3>
                <p>Mantemos seu sistema, em Python e/ou Django, trabalhando de maneira rápida e leve.</p>
              </div>
            </div>
          </div>
          <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            <img src="img/macbook.png" alt="">
          </figure>
        </div>
      </div>
    </section>
    <!--main-section-end-->
    <!--section class="main-section alabaster">
      <div class="container">
        <div class="row">
          <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            <img src="img/iphone.png" alt="">
          </figure>
          <div class="col-lg-7 col-sm-8 featured-work">
            <h2>featured work</h2>
            <P class="padding-b">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</P>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-02s">
                <i class="fa-magic"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-02s">
                <h3>magic of theme development</h3>
                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-04s">
                <i class="fa-gift"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-04s">
                <h3>neatly packaged</h3>
                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="fa-dashboard"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>SEO optimized</h3>
                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
              </div>
            </div>
            <a class="Learn-More" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </section-->
    <!--main-section-end-->
    <!--section class="main-section client-part" id="client">
      <div class="container">
        <h2>Clientes</h2>
      </div>
    </section-->
    <!--main-section client-part-end-->
    <!--div class="c-logo-part">
      <div class="container">
        <ul>
          <li><a href="#"><img src="img/c-liogo1.png" alt=""></a></li>
          <li><a href="#"><img src="img/c-liogo2.png" alt=""></a></li>
          <li><a href="#"><img src="img/c-liogo3.png" alt=""></a></li>
          <li><a href="#"><img src="img/c-liogo4.png" alt=""></a></li>
          <li><a href="#"><img src="img/c-liogo5.png" alt=""></a></li>
        </ul>
      </div>
    </div-->
    <!--main-section team-end-->
    <section class="business-talking">
      <!--business-talking-start-->
      <div class="container">
        <h2>Vamos conversar?</h2>
      </div>
    </section>
    <!--business-talking-end-->
    <div class="container">
      <section class="main-section contact" id="contact">
        <div class="row">
          <div class="col-lg-6 col-sm-7 wow fadeInLeft">
            <div class="contact-info-box phone clearfix">
              <h3><i class="fa-phone"></i>Telefone:</h3>
              <span>+55 21 999095870</span>
            </div>
            <div class="contact-info-box email clearfix">
              <h3><i class="fas fa-envelope"></i>Email:</h3>
              <span><a href="mailto:contato@quiploy.com">contato@quiploy.com</a></span>
            </div>
            <ul class="social-link">
              <li class="twitter"><a href="https://twitter.com/quiploy"><i class="fab fa-twitter"></i></a></li>
              <li class="instagram"><a href="https://www.instagram.com/quiployhq"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            <div class="form">
              <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
              <div id="errormessage"></div>
              <form method="POST" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control input-text" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control input-text" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Por favor envie uma mensagem para nós" placeholder="Mensagem"></textarea>
                  <div class="validation"></div>
                </div>
                <div data-netlify-recaptcha></div>
                <br/>
                <div class="text-center"><button type="submit" class="input-btn">Enviar Mensagem</button></div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-logo"><a href="#"><img src="img/footer-logo.png" alt=""></a></div>
        <span class="copyright">&copy; Tema Knight. Todos os direitos reservados</span>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
            -->
          <a href="https://bootstrapmade.com/bootstrap-agency-templates/">Bootstrap Agency Templates</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function() {
          $('.main-nav').slideToggle();
          return false
        });
      });
    </script>
    <script>
      wow = new WOW({
        animateClass: 'animated',
        offset: 100
      });
      wow.init();
    </script>
    <script type="text/javascript">
      $(window).load(function() {
        $('.main-nav li a, .servicelink').bind('click', function(event) {
          var $anchor = $(this);
          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 102
          }, 1500, 'easeInOutExpo');
          /*
          if you don't want to use the easing effects:
          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
          }, 1000);
          */
          if ($(window).width() < 768) {
            $('.main-nav').hide();
          }
          event.preventDefault();
        });
      })
    </script>
    <script type="text/javascript">
      $(window).load(function() {

        var $container = $('.portfolioContainer'),
          $body = $('body'),
          colW = 375,
          columns = null;

        $container.isotope({
          // disable window resizing
          resizable: true,
          masonry: {
            columnWidth: colW
          }
        });

        $(window).smartresize(function() {
          // check if columns has changed
          var currentColumns = Math.floor(($body.width() - 30) / colW);
          if (currentColumns !== columns) {
            // set new column count
            columns = currentColumns;
            // apply width to container manually, then trigger relayout
            $container.width(columns * colW)
              .isotope('reLayout');
          }

        }).smartresize(); // trigger resize to set container width
        $('.portfolioFilter a').click(function() {
          $('.portfolioFilter .current').removeClass('current');
          $(this).addClass('current');

          var selector = $(this).attr('data-filter');
          $container.isotope({

            filter: selector,
          });
          return false;
        });

      });
    </script>
  </body>
</html>
